{% extends 'geral.html' %}
{% load static from staticfiles %}


{% block theme-css %}
    <link rel="stylesheet" href="{% static "css/geral.css" %}">
{% endblock %}

{% block theme-js %}
    <script type="text/javascript" src="{% static "js/geral.js" %}"></script>
{% endblock %}



{% block call-to-action %}
{% endblock %}

{%block header%}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  <div class="container">
        <div class="">
            <form class="form-group" method="POST" action="{% url 'Results' %}">
                {% csrf_token %}
                <input class="col-md-6 col-sm-6 col-xs-12" name="pesquisa" type="text" placeholder="à procura de..." autofocus>
                <!-- <button type="submit" class="btn btn-primary icon-search"></button> -->
            </form>
        </div>
  </div>

{%endblock%}