{% extends 'geral.html' %}
{% load static from staticfiles %}
{#{% load markdown_deux_tags %}#}

{% block theme-css %}
<link rel="stylesheet" href="{% static "css/geral.css" %}">
{% endblock theme-css %}
{% block theme-js %}
<script src="{% static "js/geral.js" %}"></script>
{% endblock theme-js %}


{% block title %}
{{pagina}}
{% endblock title %}


<!-- Consider adding a Boolean Field to the Artigo model.
 This field should be either true or false for rich media.

 If true for rich media, the content is parsed with the safe filter..
 Else, the content is parsed with the linebreaks filter.
--->

{% block blogue%}

    <div id="ek-blog" class="ek-bg-section">
      <div class="container">
        <div class="row animate-box row-pb-md" data-animate-effect="fadeInUp">
          <div class="col-md-8 col-md-offset-2 text-left ek-heading">
            <span class="text-center">{{ data }}</span>
            <h2 class="text-center">{{ titulo }}</h2>
              <p class="text-center">
                  Escrito por
                  <a href="{% url 'doautor' autor.nome %}">
                  <code>{{ autor.nome }}</code>
                  </a>
              </p>
          </div>
        </div>
                <div class="col-md-8 col-md-offset-2 animate-box" data-animate-effect="fadeInUp">
                    {% if artigo.richmedia %}
                       <article class="markdown">{{ conteudo }}</article>
                    {% else %}
                        <article>{{ conteudo | linebreaks }}</article>
                    {% endif %}
                </div>
      </div>
    </div>

    <div class="container">
        <div class="col-md-8 col-md-offset-2">
{#            <hr>#}
            <p class="text-center">
{#                <a href="{% url 'doautor' autor %}">#}
{#                    <kbd>Artigos escritos por {{ autor }}</kbd>#}
{#                </a>#}
            </p>
        </div>
    </div>

{% endblock blogue%}