{% extends 'geral.html' %}
{% load static from staticfiles %}

{% block theme-css %}
<link rel="stylesheet" href="{% static "css/geral.css" %}">
{% endblock theme-css %}
{% block theme-js %}
	<script src="{% static "js/geral.js" %}"></script>
{% endblock theme-js %}


{% block title %}
— {{pagina}}
{% endblock title %}

{% block blogue%}
<div id="ek-blog" class="ek-bg-section">
  <div class="container">
    <div class="row animate-box row-pb-md" data-animate-effect="fadeInUp">
      <div class="col-md-8 col-md-offset-2 text-left ek-heading">
        <span class="text-center">Anda Ler Um Bocado</span>

        <h2 class="text-center">
            Artigos e Notícias
            {% if user.is_authenticated %}
                <a href="{% url 'addArtigo' %}">
                    <i class="icon-plus2"></i>
                </a>
            {% endif %}
        </h2>

        <p class="text-center">Para as exauridas horas entre a compilação e a frustração.</p>
      </div>
    </div>




    <div class="row">

    {% for i in artigos %}

      <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeInUp">
        <a href="{% url 'artigo' i.titulo %}">
        <div class="ek-post">
          <span class="ek-date">{{ i.data }}</span>
          <h3>{{ i.titulo }}</h3>
          <p>{{ i.artigo | slice:"80" }} [...]</p>

          <p class="author">
              {% if i.autor.perfil %}
                  <img src="{{ i.autor.perfil.url }}" alt="Imagem de perfil de {{ i.autor }}">
              {% else %}
                  <img src="/media/perfis/default.jpg" alt="Imagem de perfil">
              {% endif %}
              <cite>{{ i.autor }}</cite>
          </p>

        </div>
        </a>
      </div>

    {% endfor %}



    </div>
  </div>
</div>
{% endblock blogue%}
