{% load static from staticfiles %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if pagina == 'Ekletik' %}
    <title>Ekletik Studios :: Página Inicial</title>
    {% else %}
	<title>{% if pagina %}{{ pagina }}{% endif %} :: Ekletik Studios</title>
    {% endif %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Criamos arte para a internet." />
	<meta name="keywords" content="Angola, Luanda, startups, sonzito, luzeiros" />
	<meta name="author" content="Leo Neto @ EK Studios" />

  <!--
	//////////////////////////////////////////////////////

	Desenvolvido por Leo Neto
    Template: freehtml5.co

	Website: 		https://ekletik.com/
	Twitter: 		https://twitter.com/ekletikstudios
	Facebook: 	    https://www.facebook.com/ekletikstudios

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
  	<meta property="og:title" content=""/>
  	<meta property="og:image" content=""/>
  	<meta property="og:url" content=""/>
  	<meta property="og:site_name" content=""/>
  	<meta property="og:description" content=""/>
  	<meta name="twitter:title" content="" />
  	<meta name="twitter:image" content="" />
  	<meta name="twitter:url" content="" />
  	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<!-- <link rel="shortcut icon" href="favicon.ico"> -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
{#	<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic|Merriweather:300,400italic,300italic,400,700italic' rel='stylesheet' type='text/css'>#}

	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static "css/animate.css" %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static "css/icomoon.css" %}">
	<!-- Bootstrap  -->
{#	<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">#}
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Simple Line Icons -->
	<link rel="stylesheet" href="{% static "css/simple-line-icons.css" %}">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static "css/magnific-popup.css" %}">
	<!-- Theme style -->
    {% block theme-css %}{% endblock theme-css %}
    <link rel="stylesheet" href="{% static 'css/geral.css' %}">

	</head>










  <body>

		<div class="ek-loader"></div>
		<!--  Start Page -->
		<div id="page">

		<nav class="ek-nav" role="navigation">
			<div class="container">
				<div class="row">
					<div class="col-xs-2 text-left">
						{% if pagina == 'Ekletik' %}
                        <div id="ek-logo"><a href="{% url 'home' %}">{{pagina}}<code>beta</code></a></div>
                        {% else %}
                        {% block mainlink %}
                            {% if main %}
                            <div id="ek-logo"><a href="{% url main %}">::<kbd>{{pagina}}</kbd> </a></div>
                            {% else %}
                                <div id="ek-logo"><a href="{% url 'home' %}">::<kbd>{{ pagina }}</kbd></a></div>
                            {% endif %}
                        {% endblock mainlink %}
                        {% endif %}
					</div>
					<div class="col-xs-10 text-right menu-1">
						<ul>

							<li class="has-dropdown">
								<a href="{% url 'empresa' %}">Empresa</a>
							</li>

							<li><a href="{% url 'portfolio' %}">Portfolio</a></li>
							<li><a href="{% url 'blog' %}">Blog</a></li>
							<li><a href="{% url 'loja' %}">Loja</a></li>
                            {% if user.is_authenticated %}
                                <li><a href="{% url 'logout' %}"><code>Logout</code></a></li>
                            {% else %}
                                <li><a href="{% url 'contacto' %}">Contacto</a></li>
                            {% endif %}
                            <li><a href="{% url 'Pesquisar' %}" class="icon-search"></a></li>
						</ul>
					</div>
				</div>

			</div>
		</nav>


    {% block header %}
	{% endblock header %}

    {% block body %}
    {% endblock body %}

	{% block projectos %}
	{% endblock projectos %}

	{% block servicos %}
	{% endblock servicos %}

	{% block parceiros %}
	{% endblock parceiros %}

	{% block counter %}
	{% endblock counter %}

	{% block blogue %}
	{% endblock blogue %}

    {% block call-to-action %}
        <div id="ek-started">
          <div class="container">
            <div class="row animate-box">
              <div class="col-md-8 col-md-offset-2 text-center ek-heading">
                <span>Não Fique Só a Olhar</span>
                <h2>'Bora Trabalhar</h2>
                <p>Entre em contacto connosco e teremos muito gosto em <br> fazer coisas inéditas consigo e para si.</p>
                <a href="{% url 'pedido' %}">
                  <p><button type="submit" class="btn btn-primary">Solicitação</button></p>
                </a>
              </div>
            </div>
          </div>
        </div>
    {% endblock call-to-action %}

	<!--  Site Footer -->
	<footer id="ek-footer" role="contentinfo">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-4 ek-widget ">
					<h3>Ekletik Studios</h3>
					<p>Faz da internet a sua segunda casa. Utilize os nossos serviços para alavancar os seus negócios.</p>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 ">
					<ul class="ek-footer-links">
						<li><a href="{% url 'empresa' %}">Empresa</a></li>
						<li><a href="{% url 'portfolio' %}">Projectos</a></li>
						<li><a href="{% url 'loja' %}">Loja</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 ">
					<ul class="ek-footer-links">
						<li><a href="{% url 'forum' %}">Fórum</a></li>
						<li><a href="{% url 'azinca' %}">Azinca</a></li>
						<li><a href="{% url 'receitas' %}">Receita<span>ME</span></a></li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 ">
					<ul class="ek-footer-links">
						<li><a href="{% url 'designers' %}">Designers</a></li>
						<li><a href="{% url 'developers' %}">Developers</a></li>
						<li><a href="{% url 'apis' %}">APIs</a></li>
					</ul>
				</div>
			</div>

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; {% now 'Y' %} Ekletik Studios e Parceiros.</small>
						<small class="block">Algoritmos, metáforas e sistemas.</small>
					</p>
					<p>
						<ul class="ek-social-icons">
							<li><a href="https://twitter.com/ekletikstudios/"><i class="icon-twitter"></i></a></li>
							<li><a href="https://github.com/ekletikstudios/"><i class="icon-github"></i></a></li>
							<li><a href="https://dribbble.com/ekletikstudios/"><i class="icon-dribbble"></i></a></li>
							<li><a href="https://vimeo.com/ekletikstudios/"><i class="icon-vimeo"></i></a></li>
						</ul>
					</p>
                    {% if user.is_authenticated %}
                    <p class="ek-heading">
                        <span>Conectado como </span> <code>{{ user.first_name }}</code>
                    </p>
                    {% endif %}
				</div>
			</div>

		</div>
	</footer>

	<!-- End Page -->
	</div>

	<!-- jQuery -->

    <!-- Modernizr JS -->
	<script src="{% static "js/modernizr-2.6.2.min.js" %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{% static "js/respond.min.js" %}"></script>
	<![endif]-->

	<script src="{% static "js/jquery.min.js" %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static "js/jquery.easing.1.3.js" %}"></script>
	<!-- Bootstrap -->
	<script src="{% static "js/bootstrap.min.js" %}"></script>
	<!-- Waypoints -->
	<script src="{% static "js/jquery.waypoints.min.js" %}"></script>
	<!-- Stellar Parallax -->
	<script src="{% static "js/jquery.stellar.min.js" %}"></script>
	<!-- Magnific Popup -->
	<script src="{% static "js/jquery.magnific-popup.min.js" %}"></script>
	<script src="{% static "js/magnific-popup-options.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>

    <!-- Main JS -->
    {% block theme-js %}{% endblock theme-js %}


    <!-- Custom Markdown Generator -->
    <script type="text/javascript">
        $(document).ready(function () {
            $(".markdown").each(function () {
                var raw_content = $(this).text()
                var marked_content = marked(raw_content)
                $(this).html(marked_content)
            })
        })
    </script>

	</body>
</html>
