/*
  Paletas para o portfolio.
*/

.TicTacToe-1{
  background-color: #f2d963;
  color: #000;
}
.TicTacToe-2{
  background-color: #363838;
  color: #fff;
}
.TicTacToe-3{
  background-color: #f7f8f8;
  color: #000;
  border: solid;
  border-color: #363838;
}
.TicTacToe-T1{
  color: #000;
  font-family: Phosphate;
}
.TicTacToe-T2{
  color: #000;
  font-family: Phosphate;
  font-style: normal;
}


.Metáforas-1{
  color: #000;
  background-color: #fee856;
}
.Metáforas-2{
  color: #ffffff;
  background-color: #000000;
}


.PontoLivre-1{
  color: #fff;
  background-color: #EF611F;

}
.PontoLivre-2{
  color: #fff;
  background-color: #233E52;
}
.PontoLivre-3{
  color: #000000;
  background-color: #FFFFFF;
  border: solid;
  border-color: #233E52;
}




.Swift-1{
  color: #000000;
  background-color: #fEE856;
}
.Swift-2{
  color: #000000;
  background-color: #FFFFFF;
  border: solid;
  border-color: #DD356E;
}
.Swift-3{
  color: #FFFFFF;
  background-color: #DD356E;
}


.TruthorDare-1{
  background-color: #6A6D7D;
  color: #FFFFFF;
}
.TruthorDare-2{
  background-color: #FFFFFF;
  border-color: #6A6D7D;
  border: solid;
}
.TruthorDare-3{
  background-color: #E0CC57;
  color: #0b0b0b;
}


.Sonzito-1{
  background-color: #000000;
  color: #FFFFFF;
}
.Sonzito-2{
  background-color: #FDFD3C;
}
.Sonzito-3{
  background-color: #FFFFFF;
  border: solid;
  border-color: #000;
}
