
#ek-testimonial {
  background: #F0F5F9;
}
#ek-testimonial .testimonial {
  background: #fff;
  padding: 30px;
  position: relative;
  margin-bottom: 4em;
  bottom: 0;
}
#ek-testimonial .testimonial blockquote {
  border-left: none;
  padding: 0;
  margin: 0;
}
#ek-testimonial .testimonial p {
  color: #666666;
  font-size: 18px;
  font-style: italic;
  line-height: 1.5;
}
#ek-testimonial .testimonial p.author {
  color: #b3b3b3;
}
#ek-testimonial .testimonial p.author img {
  width: 60px;
  margin-right: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#ek-testimonial .testimonial p.author cite {
  font-style: normal;
  font-size: 13px;
  font-family: "Open Sans", Arial, sans-serif;
}
#ek-testimonial .testimonial p:last-child {
  margin-bottom: 0;
}
#ek-testimonial .testimonial:after {
  position: absolute;
  left: 11%;
  bottom: -30px;
  display: block;
  width: 0;
  content: "";
  border-width: 30px 30px 0 0;
  border-style: solid;
  border-color: #fff transparent;
}
#ek-testimonial .testimonial.ek-selected {
  background: #F73859;
  bottom: 10px;
  -webkit-box-shadow: 0px 18px 71px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 18px 71px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 18px 71px -10px rgba(0, 0, 0, 0.75);
}
#ek-testimonial .testimonial.ek-selected p {
  color: #fff;
}
#ek-testimonial .testimonial.ek-selected p.author cite {
  color: rgba(255, 255, 255, 0.7);
}
#ek-testimonial .testimonial.ek-selected:after {
  border-color: #F73859 transparent;
}
@media screen and (max-width: 768px) {
  #ek-testimonial .testimonial.ek-selected {
    bottom: 0;
  }
}
