{% extends 'base_loja.html' %}
{% load static from staticfiles %}


{% block header %}
{% endblock header %}


{% block body %}
<div id="ek-product">
    <br>
    <br>
		<div class="container">
			<div class="row animate-box fadeInUp animated-fast">
				<div class="col-md-8 col-md-offset-2 text-center ek-heading">
					<span>De nós para si</span>

					<h2>Kitandeirices</h2>
					<p>Em cada item, uma lembrança.</p>

				</div>
			</div>

            <!-- First Row -->
			<div class="row">

                {% for item in albums %}
				<div class="col-md-4 text-center animate-box fadeInUp animated-fast">
                    <div class="product">

                        <a href="{% url item.safeTipo item.titulo %}">
                            <div class="product-grid" style="background-image:url({{ item.capa.url }});"></div>
                        </a>

						<div class="desc">
							<h3><a href="{% url item.safeTipo item.titulo %}">{{ item.titulo }}</a></h3>
{#							<span class="price">{{ item.lancamento }} | {{ item.artista }}</span>#}
						</div>
					</div>
				</div>
                {% endfor %}

			</div>


{#            <hr>#}
{#            <!-- Second Row -->#}
{#            <div class="row"></div>#}

		</div>
</div>
{% endblock body %}


{% block call-to-action %}
    <div id="ek-started">
          <div class="container">
            <div class="row animate-box">
              <div class="col-md-8 col-md-offset-2 text-center ek-heading">
                <span>Brevemente</span>
                <h2>Loja Ekletik</h2>
                <p>Brevemente teremos aqui a nossa loja, na qual poderá obter os nossos melhores trabalhos, os quais queremos partilhar consigo.</p>
                <p><button type="submit" class="btn btn-primary">Fique Informado</button></p>
              </div>
            </div>
          </div>
        </div>
{% endblock call-to-action %}