{% extends 'base_loja.html' %}
{% load static from staticfiles %}


{% block theme-css %}
<link rel="stylesheet" href="{% static "css/geral.css" %}">
{% endblock theme-css %}
{% block theme-js %}
	<script src="{% static "js/geral.js" %}"></script>
{% endblock theme-js %}




{% block body %}

<div id="ek-blog" class="ek-bg-section">
  <div class="container">
    <div class="row animate-box row-pb-md" data-animate-effect="fadeInUp">
      <div class="col-md-8 col-md-offset-2 text-left ek-heading">


            <span class="">Um {{ item.tipo }} de {{ autor }}</span>


            <h2 class="">{{ titulo }}</h2>
            <p class="">{{ item.editorial }}</p>
            <hr>

      </div>

    </div>

                <div class="row animate-box row-pb-md" id="Livro">

                <div class="col-md-4 col-md-offset-2">
	            <img class="img-responsive" src="{{ capa }}" alt="Imagem de {{ nome }}">
                    <p><kbd>{{ item.preco }} USD</kbd> | {{ paginas }} páginas| {{ tamanho | filesizeformat }}</p>
                </div>

                <div class="col-md-4">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Pág.</th>
                            <th>Capítulo</th>
                        </tr>
                    </thead>

                    <tbody>

                        {% for cap in capitulos %}
                            {% if forloop.counter <= total %}
                        <tr class="">
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ cap }}</td>
                        </tr>
                            {% endif %}
                        {% endfor %}

                    </tbody>
                </table>
                <p class="ek-heading">
                    <span>&copy; &copysr; {% now 'Y' %}. {{ empresa }}.</span>
                </p>
                </div>

            </div>


  </div>

    <div class="container">

    </div>
</div>


{% endblock body %}

