{% extends 'base_store.html' %}
{% load static from staticfiles %}


{% block title %}
- {{pagina}}
{% endblock %}

{% block body %}
<div class="wrapper">
      <div class="base">
        <div class="item_nav">
          <ul class="item_nav_list">
            <li class="item_nav_item"><a href="{% url 'loja' %}" class="item_nav_link">Voltar à Loja</a></li>
          </ul>
          <ul class="item_nav_list">
            <li class="item_nav_item"><a href="" class="item_nav_link">Previous</a></li>
            <li class="item_nav_item"><a href="" class="item_nav_link">Next</a></li>
          </ul>
        </div>
        <div class="product_block main_mod">
          <div class="product_i_w main_mod">
            <img alt="" src="{% static "loja/i/product_big.jpg" %}" class="product_i main_mod">
          </div>
          <div class="product_info main_mod">
            <div class="product_meta main_mod">
              <h1 class="product_title main_mod">Braun Watch 1223</h1><span class="product_price main_mod">$399</span>
            </div>
            <div class="product_converse">
              <div class="product_converse_first">
                <dl class="form_cell form_cell_v1_mod">
                  <dt class="form_c_hline form_v1_mod hline_hide_mod">
                    <label for="color_chose">Color</label>
                  </dt>
                  <dd class="form_c_f_w form_v1_mod hline_hide_mod">
                    <select id="color_chose" data-placeholder="" class="f_c_field default_mod chosenTarget color_mod select_rediz_coosen">
                      <option value="Light Grey">Light Grey</option>
                      <option value="Red">Red</option>
                      <option value="Pink">Pink</option>
                      <option value="Blue">Blue</option>
                    </select>
                  </dd>
                </dl>
              </div>
              <div class="product_converse_sec">
                <dl class="form_cell form_cell_v1_mod">
                  <dt class="form_c_hline form_v1_mod hline_hide_mod">
                    <label for="amount">Amount</label>
                  </dt>
                  <dd class="form_c_f_w form_v1_mod hline_hide_mod">
                    <input value="1" type="text" id="amount" placeholder="" class="f_c_field default_mod amount_mod"/>
                  </dd>
                </dl>
                <button class="product_add_btn main_mod" onclick="adicionarProducto()">Adicionar</button>
              </div>
            </div>
            <div class="product_desc main_mod">
              <p>Creating an authentic sound - is a question of orchestration. Only experience, love for music and an uncompromising position in matters of quality produces an authentic sound. This was always the philosophy of Vifa and the reason is that quality music and design appreciate  the Copenhagen.</p>
            </div>
            <div class="product_details">
              <ul class="product_details_list">
                <li class="product_details_item">
                  <dl class="product_details_block">
                    <dt class="title">Dimensions:</dt>
                    <dd class="def">26.8 cm / 9 cm / 36.2 cm</dd>
                  </dl>
                </li>
                <li class="product_details_item">
                  <dl class="product_details_block">
                    <dt class="title">Weight:</dt>
                    <dd class="def">4.65 kg (without packaging)</dd>
                  </dl>
                </li>
                <li class="product_details_item">
                  <dl class="product_details_block">
                    <dt class="title">Material:</dt>
                    <dd class="def">Wool, Aluminum</dd>
                  </dl>
                </li>
                <li class="product_details_item">
                  <dl class="product_details_block">
                    <dt class="title">Colors:</dt>
                    <dd class="def">Light Grey, Red, Black</dd>
                  </dl>
                </li>
              </ul>
              <ul class="product_details_list">
                <li class="product_details_item">
                  <dl class="product_details_block">
                    <dt class="title">Signal transmission:</dt>
                    <dd class="def">Wireless</dd>
                  </dl>
                </li>
                <li class="product_details_item">
                  <dl class="product_details_block">
                    <dt class="title">Connections:</dt>
                    <dd class="def">3.5 mm Mini-Klinke</dd>
                  </dl>
                </li>
                <li class="product_details_item">
                  <dl class="product_details_block">
                    <dt class="title">Battery capacity:</dt>
                    <dd class="def">2600 mAh</dd>
                  </dl>
                </li>
                <li class="product_details_item">
                  <dl class="product_details_block">
                    <dt class="title">Maximum power:</dt>
                    <dd class="def">150 Watt</dd>
                  </dl>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <ul class="preview_list">
          <li class="preview_item">
            <div class="preview_i_w">
              <img alt="" src="{% static "loja/i/preview_1.jpg" %}" class="preview_i"></div>
          </li>
          <li class="preview_item">
            <div class="preview_i_w">
              <img alt="" src="{% static "loja/i/preview_2.jpg" %}" class="preview_i"></div>
          </li>
          <li class="preview_item">
            <div class="preview_i_w">
              <img alt="" src="{% static "loja/i/preview_3.jpg" %}" class="preview_i"></div>
          </li>
          <li class="preview_item">
            <div class="preview_i_w">
              <img alt="" src="{% static "loja/i/preview_4.jpg" %}" class="preview_i"></div>
          </li>
        </ul>
        <!--.elements_list-->
      </div>

    </div>
{% endblock body %}
